.main {
  height: 85vh;
  display: flex;
}
.card {
  margin-right: 50px;
  height: 55%;
  padding: 20px;
  background-color: rgb(32, 32, 31);
  border: 2px solid black;
  border-radius: 2pc;
}
.card h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: red;
}
.card h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: grey;
}
.card p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(29, 6, 6);
}
::selection {
  color: white;
  background-color: black;
}
