body {
  background-color: black;
}
.footer {
  display: flex;
  justify-content: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.copyright {
  color: rgb(173, 61, 61);
}
