.main {
  background-color: rgb(24, 23, 23);
  color: rgb(112, 103, 103);
  height: 85vh;
}

/* .div1 {
}
.div2 {
} */
.line {
  border-left: 2px solid rgb(131, 168, 131);
  height: 100px;
  position: absolute;
  left: 49%;
  margin-left: -3px;
  top: 12%;
}
