.main {
    height: 85vh;
    display: flex;
  }
  .card-cover {
    width: 200px;
    height: 200px;
  }
  .card-text {
    width: 75%;
  }
  .card {
    margin-top: 70px;
    margin-left: 100px;
  }
  .more {
    margin-left: 40px;
    margin-top: 30px;
    width: 150px;
    height: 40px;
    background-color: black;
    color: white;
    outline: 0;
    border: 2px solid rgb(66, 66, 57);
    border-radius: 10px;
    cursor: pointer;
  }
  .more:hover {
    background-color: rgb(10, 36, 36);
    color: rgb(87, 70, 70);
    border: 2px solid rgb(66, 32, 32);
    transition: ease 0.5s;
  }
  